/src/media
/build
/node_modules/
/.env.local
/.env.*.local
/docker-compose.override.yaml
/yarn-*.log
/.env
/yarn.lock
/.idea/
/reports/
/coverage/
/jscpd-report/
/stats/
/.next/
new-funnel.js
update-dashboard.js
/*.config.js
/**/*.test.ts
/**/*.test.tsx
/src/tests/**
/cypress/integration/
/*.config.mjs
/.lintstagedrc.js
tsconfig.json
/.eslintrc.json
